version: 2
updates:
- package-ecosystem: "npm"
  directories:
  - "/"
  - "/components"
  - "/dashboards"
  - "/explore"
  - "/plugin-system"
  open-pull-requests-limit: 5
  schedule:
    interval: "monthly"
  groups:
    npm:
      patterns:
        - "*"
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "weekly"
  groups:
    actions:
      patterns:
        - "*"
- package-ecosystem: "gomod"
  directory: "/"
  open-pull-requests-limit: 10
  schedule:
    interval: "weekly"
  groups:
    gomod:
      patterns:
        - "*"
