name: cue
on:
  push:
    branches:
      - main
      - release/*
      - snapshot/*
    tags:
      - v*
  pull_request:
  merge_group:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' || github.ref_name != 'main' }}

jobs:
  validate-schemas:
    name: validate CUE schemas
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v6
      - uses: perses/github-actions@v0.11.0
      - uses: ./.github/perses-ci/actions/setup_environment
        with:
          enable_go: true
          enable_cue: true
          cue_version: "v0.15.1"
      - name: check that CUE schemas evaluate correctly
        run: make cue-eval
      - name: run the unit tests for CUE schemas
        run: make cue-test

  publish-module:
    name: "publish CUE module to Central Registry"
    needs: "validate-schemas"
    runs-on: ubuntu-latest
    if: ${{ github.event.release.tag_name }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - uses: perses/github-actions@v0.11.0
      - uses: ./.github/perses-ci/actions/setup_environment
        with:
          enable_go: true
          enable_cue: true
          cue_version: "v0.15.1"
      - name: Login to Central Registry # to allow publishing the module
        run: cue login --token=${{ secrets.CUE_REG_TOKEN }}
      - name: Publish the module
        run: cue mod publish ${{ github.ref_name }}
        working-directory: cue